<html>
{% extends 'home/imbase.html' %}
{% load static %} <!--load css or static files-->
{% block content %}
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div id="body">

<!--<div class="blogintro">
<h1><a href="/">...a lifestyle blog</a></h1>
</div>-->
<section class="rw-wrapper">
	<h2 class="rw-sentence">
		<div class="rw-words rw-words-2">
			<span>...a lifestyle blog...</span>
			<span>...London life</span>
			<span>...hair and make-up</span>
			<span>...education</span>
			<span>...entertainment</span>
		</div>
	</h2>
</section>


<br>

<img src="{% static 'css/images/london_1.jpg' %}" style="width:100%;opacity:0.3;box-shadow:0 0 8px 8px white inset">


</div> <!--body-->
{% endblock %}
</html>
