<html>
{% extends 'home/imbase.html' %}
{% load staticfiles %} <!--load css or static files-->
{% block content %}
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div id="body">

<!--<div class="blogintro">
<h1><a href="/">...a lifestyle blog</a></h1>
</div>-->
<section class="rw-wrapper">
	<h2 class="rw-sentence">
		<div class="rw-words rw-words-2">
			<span>...a lifestyle blog...</span>
			<span>...London life</span>
			<span>...hair and make-up</span>
			<span>...education</span>
			<span>...entertainment</span>
		</div>
	</h2>
</section>


<br>

<div class="slideshow-container">

<div class="mySlides fade">
  <div class="numbertext">1 / 2</div>
  <div class="homeslide"><img src="{% static 'css/images/london_2.jpg' %}" style="width:100%"></div>
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 2</div>
  <div class="homeslide"><img src="{% static 'css/images/london_1.jpg' %}" style="width:100%"></div>
</div>


</div>
<br>

<div style="text-align:center">
  <span class="dot"></span>
  <span class="dot"></span>
</div>

<script>
var slideIndex = 0;
showSlides();

function showSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    for (i = 0; i < slides.length; i++) {
       slides[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex> slides.length) {slideIndex = 1}
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
    setTimeout(showSlides, 5000); // Change image every 2 seconds
}
</script>
</div> <!--body-->
{% endblock %}
</html>
