.page-header
{
	/*background-color: #595959;*/
	background-color: #ffffff;
    margin-top: 0;
    padding: 10px 10px 10px 30px;
}
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #000000;
    font-size: 36pt;
    text-decoration: none;
		text-align: center;
}

span{
	color: #000000;
	font-size: 16;
	/*margin-left: 100px;*/

}
.glyphicon {
		color: #000000;

}


ul
{
	list-style-type: none;
    padding: 0;
	margin: 0;
    width: auto;
	overflow: hidden;

}

li a
{
	display: block;
	/*margin-left: 600px;*/
	width: auto;
    color: #000000;
    padding: 8px 16px;
    text-decoration: none;
	font-family: Courgette, cursive;
	font-size: 16;
	text-align: center;
}

.content {
    margin-left: 40px;

}

h1, h2, h3, h4 {
    font-family: 'Courgette', cursive;
		text-align: center;

}


.top-menu, .top-menu:hover, .top-menu:visited {
    color: #000000;
    /*float: right;*/
    font-size: 16;
	font-family: Courgette, cursive;
	font-weight: 900;
    /*margin-left: 0px;*/
}

.blogintro{
	margin-left: 500px;
	text-align: center;
}

h1 a {
    color: #A9A9A9;
	font-family: Courgette, cursive;
	font-size: 24;
	text-align: center;
}


p{
	color: #000000;
	font-family: Courgette, cursive;
	font-size: 14;
}
body {


}
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
	font-size:24;
	font-family: Courgette, cursive;
	font-weight: bold;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
